# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos temporales
*.log
*.tmp

# Entornos virtuales
venv/
.env/

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de IDEs
.vscode/
.idea/

# HTML temporales
.html
assets/